@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background: #e4dede;
}

h1 {
    text-align: center;
    padding: 30px;
    font-size: 44px;
}

.container {
    width: 460px;
    height: 600px;
    background: #2E2E2E;
    margin: auto;
    padding: 10px;
    border-radius: 10px;

}

#calc {
    width: 420px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 45px;
    text-align: right;
    background: #7FFFD4;
    border-radius: 10px;
}

.btn-number,
.btn-clear,
.btn-operation {
    width: 92px;
    height: 70px;
    margin: 7px;
    color: white;
    font-size: 2.5rem;
    border-radius: 15px;
    margin-top: 20px;
}

.btn-number {
    background: #1F1F1F;
    background: linear-gradient(135deg, #000000, #3f3e3e);
}

.btn-operation {
    background: #3A3A3A;
    background: linear-gradient(135deg, #272727, #6d6d6d);
}

#answer{
    background: #4CAF50;  
}

p {
    font-weight: 800;
    color: white;
    margin: 10px;

}

.btn-number:hover,
.btn-operation:hover {

    border: 2px solid red;

}

.btn-clear:hover {
    border: 2px solid white;
}

.btn-clear {
    background-color: red;
    background: linear-gradient(135deg, #ff0000, #b30000);
}

.btn-square,
.btn-cube {
    width: 200px;
    /* rectangle width */
    height: 65px;
    margin: 10px 7px;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #101010;
}